.yangiliklar {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 550px;
    height: 300px;
}

.m_v {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.vid1 {
    display: flex;
    gap: 50px;
}

.vid2 {
    display: flex;
    gap: 50px;
}

.vidio{
    width: 350px;
    height: 450px;
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}