.footer{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 550px;
    height: 300px;
    background-color: rgb(109, 30, 255);
    margin-top: 100px;
}