*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.cont{
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-width: 1140px;
  height: 100%;
  gap: 50px;
}